.index-header {
  color: #fff;
  margin: 20px;



}

.index-header span {
  font-weight: 600;
  font-size: 2rem;
}

.index-header .base-style {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  padding: 10px 0px;
}

.index-header .wechat {
  background-color: #70ca63;
}

.index-header .sell {
  background-color: #0092ff;
}

.index-header .icon-style {
  color: #fbfbf4b3;
  font-size: 3rem;
  padding-right: 1rem;
}

.index-header .base-title {
  font-size: 1.2rem;
}
